In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("smart.csv")
df = df.dropna(axis='columns')
df = df.set_index('Day')
display(df)

,"[4, 4, 4, 3, 3, 3]","[4, 4, 4, 4, 3, 2]","[4, 4, 4, 4, 4, 1]","[5, 4, 3, 3, 3, 3]","[5, 4, 4, 3, 3, 2]","[5, 4, 4, 4, 2, 2]","[5, 4, 4, 4, 3, 1]","[5, 4, 4, 4, 4, 0]","[5, 5, 3, 3, 3, 2]","[5, 5, 4, 3, 2, 2]",...,"[17, 2, 2, 0, 0, 0]","[17, 3, 1, 0, 0, 0]","[17, 4, 0, 0, 0, 0]","[18, 1, 1, 1, 0, 0]","[18, 2, 1, 0, 0, 0]","[18, 3, 0, 0, 0, 0]","[19, 1, 1, 0, 0, 0]","[19, 2, 0, 0, 0, 0]","[20, 1, 0, 0, 0, 0]","[21, 0, 0, 0, 0, 0]"
Day,,,,,,,,,,,,,,,,,,,,,
1,19,2,2,2,2,2,2,2,2,2,...,2,1,2,2,2,2,2,2,2,1
2,50,2,2,2,2,2,2,2,2,2,...,2,1,1,1,2,2,2,2,2,0
3,53,4,48,2,2,2,2,2,2,1,...,2,0,1,1,1,2,2,1,1,0
4,37,4,92,2,2,2,2,2,2,1,...,2,0,1,1,0,2,1,0,0,0
5,21,2,57,2,2,2,2,2,2,0,...,2,0,0,1,0,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,43,0,2,0,0,0,0,64,0,0,...,0,0,0,0,0,0,0,0,0,0
193,82,0,2,0,0,0,0,128,0,0,...,0,0,0,0,0,0,0,0,0,0
194,49,0,1,0,0,0,0,75,0,0,...,0,0,0,0,0,0,0,0,0,0
195,81,0,0,0,0,0,0,108,0,0,...,0,0,0,0,0,0,0,0,0,0
196,48,0,0,0,0,0,0,93,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.plot(figsize = [20,30])

In [15]:
df_mean = df.mean()

In [16]:
df_max = df.max()

In [17]:
df_best = df.T.idxmax()

In [18]:
df_bestValues = df_best.value_counts()

In [21]:
df_bestValues.to_csv("best.csv")

C:\Users\Sergio\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [ ]:
filtered.plot(figsize=[900,10],ylim=[10,30])

In [ ]:
filtered.plot(figsize=[900,10],ylim=[10,30])

In [ ]:
filtered.plot(figsize=[950,10],ylim=[10,30])

In [ ]:
df[df.columns[0]].plot(figsize=[300,10])

In [12]:
df_best

Day
0      [4, 4, 4, 3, 3, 3]
1      [4, 4, 4, 3, 3, 3]
2      [4, 4, 4, 3, 3, 3]
3      [4, 4, 4, 3, 3, 3]
4      [4, 4, 4, 3, 3, 3]
              ...
195    [6, 6, 6, 1, 1, 1]
196    [6, 6, 6, 1, 1, 1]
197    [6, 6, 6, 1, 1, 1]
198    [6, 6, 6, 1, 1, 1]
199    [6, 6, 6, 1, 1, 1]
Length: 200, dtype: object